
<input id="firstName" @attributes="InputAttributes" placeholder="Default Placeholder" />

@code {
    [Parameter]
    public string Required { get; set; } = "required";

    [Parameter]
    public string Maxlength { get; set; } = "15";

    [Parameter]
    public string Size { get; set; } = "25";

    [Parameter]
    public string Placeholder { get; set; } = "Child Component Placeholder";


    [Parameter]
    public string Value { get; set; } = "Child Value";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } =
    new Dictionary<string, object>();
}
    <h1 style="@ElementStyle">-Child Component Text</h1>

    @code {
                            [CascadingParameter(Name = "ColorStyle")]
                public string ElementStyle { get; set; }

                [CascadingParameter]
                public int EmpAge { get; set; }

                [CascadingParameter]
                public string H1Border { get; set; }
    }
    <h1>Child Component Text - @Counter</h1>

    @code {
        [CascadingParameter(Name = "Counter")]
        public int Counter { get; set; }
    }










