<ChildComponent required="required" maxlength="100" size="50"
                placeholder="Parent Component Placeholder">
</ChildComponent>
<ChildComponent maxlength="15" placeholder="Parent Component Placeholder" required>
</ChildComponent>
@code {
    public Dictionary<string, object> attributesFromParent { get; set; } =
        new Dictionary<string, object>()
        {
            { "required", "required" },
            { "placeholder", "Parent Component Placeholder" },

                    };
    <ChildComponent placeholder="Parent Component Placeholder">
    </ChildComponent>
}
@page "/pc"

<h1 style="@Color">Parent Component Text</h1>

<CascadingValue Value="@Style">
    <ChildComponent>
    </ChildComponent>
</CascadingValue>

@code {
        public string Style { get; set; } = "color:red";
}